header#header {
  background: white;
  border-bottom: 1px solid @greyLight;
  height: 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  .box-sizing(border-box);

  button {
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    outline: 0;
  }

  > button {
    position: absolute;
    top: 0;
    border-radius: 0;
    width: 3em;
    height: 2em;
    z-index: 202;
  }

  .menu-toggle {
    left: 0;
  }
  .menu-search {
    right: 0;
  }

  #menu {

  }

  #menu-discover {

  }
}