@import "../bower_components/bootstrap/less/variables.less";

//** Load fonts from this directory.
@icon-font-path: "/fonts/";
@import "../bower_components/bootstrap/less/glyphicons.less";

em {.glyphicon-star();}

@red: #d0021b;
@greyLight: #aaa;

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;

  > header {
    background: grey;
  }

  > nav {
    a {
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: @red;
  clear: both;
  font-size: 1em;
  text-transform: uppercase;
  > a {
    color: inherit;
  }
}

a {
  text-decoration: none;
}

q {
  font-style: italic;
}

main {
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}



// mixins
.font-smaller() {
  color: @greyLight;
  font-size: smaller;
}




// Explore overview venue preview
.venue-cover {
  clear: both;
  float: left;
  margin: 0 0 1em;
  width: 100%;

  img {
    width: 100%;
  }

  .meta {
    color: @greyLight;
    font-size: 0.8em;
  }
}

// Venue view
.venue-information {
  .font-smaller();
  span {
    display: block;
    margin: 0 0 0.5em;
  }

  .venue-tips {
    // "all but the first 3"
    li:nth-child(n+4) {
      display: none;
    }
  }
}

.venue-images {

}


// Any one instagram image
.image {
  position: relative;
  .image-user {
    position: absolute;
    top: 1em;
    right: 1em;
    text-align: right;
    z-index: 2;
    img {
      float: right;
    }
  }

  .image-meta {
    .font-smaller();
    > div {
      display: block;
      margin: 0.5em;
      padding: 0.05em 0.25em 0.15em;
    }
  }
}

// Generic user avatar + name
.user-avatar {
  img {
    border-radius: 100%;
    display: block;
    height: auto;
    width: 50px;
  }
  span {
    display: block;
  }
}

// Generic tag style
.tag {
  background: @greyLight;
  border-radius: 0.25em;
  color: white;
  display: inline !important;
  padding: 0.05em 0.25em 0.15em;
}
