html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
body > header {
  background: grey;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d0021b;
  clear: both;
  font-size: 1em;
  text-transform: uppercase;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: inherit;
}
a {
  text-decoration: none;
}
img {
  height: auto;
  max-width: 100%;
}
.venue-cover {
  clear: both;
  float: left;
  margin: 0 0 1em;
  width: 100%;
}
.venue-cover img {
  width: 100%;
}
.venue-cover .meta {
  color: #aaaaaa;
  font-size: 0.8em;
}
