html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
body > header {
  background: grey;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d0021b;
  clear: both;
  font-size: 1em;
  text-transform: uppercase;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: inherit;
}
a {
  text-decoration: none;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}
.venue-cover {
  clear: both;
  float: left;
  margin: 0 0 1em;
  width: 100%;
}
.venue-cover img {
  width: 100%;
}
.venue-cover .meta {
  color: #aaaaaa;
  font-size: 0.8em;
}
.venue-information {
  color: #aaaaaa;
  font-size: smaller;
}
.venue-information span {
  display: block;
  margin: 0 0 0.5em;
}
.image {
  position: relative;
}
.image .image-user {
  position: absolute;
  top: 1em;
  right: 1em;
  text-align: right;
  z-index: 2;
}
.image .image-user img {
  border-radius: 100%;
  display: block;
  float: right;
  height: auto;
  width: 50px;
}
.image .image-user span {
  display: block;
}
