

<template name="Image">
    <div class="image">
        <div class="image-user user-avatar">
            <a href="/user/{{user}}">
                <img src="{{user_profile}}">
                <span>{{user}}</span>
            </a>
        </div>
        <img src="{{image}}">
        <div class="image-meta">
            {{#if comments_count}}
            <div class="image-comments">
                <span>{{comments_count}} comments</span>
                <span><button class="view-comments">view</button></span>
                <span><button>comment</button></span>
            </div>
            {{/if}}
            {{#if likes}}
            <div class="image-likes">
                <span>{{likes}} likes</span>
                <span><button>like</button></span>
            </div>
            {{/if}}
        </div>

        {{#if comments}}
        <div class="image-comments">
            Comments:
            {{#each comments}}
                {{>ImageComment}}
            {{/each}}
        </div>
        {{/if}}
    </div>
</template>


<template name="ImageComment">
    <div class="user-avatar">
        <img src="{{profile_picture}}">
        <span>{{username}}</span>
    </div>
    {{text}}
</template>