<template name="Shell">
    {{#if currentUser}}
    <header id="header">
        <div id="header-bar">
            <button class="menu-toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></button>
            <button class="user-toggle"><i class="glyphicon glyphicon-user"></i></button>
        </div>
    </header>
    <nav id="nav" class="fly-out">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/map">Map</a></li>
        </ul>
    </nav>
    <nav id="user-nav" class="fly-out">
        <ul>
            <li><button class="user-logout">Log out</button></li>
        </ul>
    </nav>

    {{#if errors}}
    <div id="errors" class="warning">
        <strong>Errors:</strong>
        {{#each errors}}
        <p>{{this.message}}</p>
        {{#if this.details}}
        <p>{{this.details}}</p>
        {{/if}}
        {{/each}}
    </div>
    {{/if}}


    {{#unless geolocation}}
        <div class="warning">{{>NoGeolocation}}</div>
    {{/unless}}

    <main>
        {{>yield "top"}}
        {{>yield "main"}}
        {{>yield "bottom"}}
    </main>

    {{else}}
    <main id="login-wrapper">
        <button class="user-login">Log in with Instagram</button>
    </main>
    {{/if}}
</template>